header{
	background-color: #607CBA;
	height: 70px;
}

footer{
	background-color: #607CBA;
	height: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif !important;
}

main {
    flex: 1 0 auto;
}

h4{
	color:white;
	font-weight:100;
}

a {
	color:white;
}

.carousel .indicators .indicator-item {
	background-color:black;
}

.nav {
    background-color: #607CBA; /* Green */
    border: none;
    color: white;
    width:100%;
    height:100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#delete {
	background-color: #E3E3E3; 
    border: none;
    color: white;
    width:100%;
    height:40px;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
}

#csv {
	background-color: #E3E3E3; 
    border: none;
    color: white;
    width:100%;
    height:40px;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
}

#add {
	background-color: #ACBD5C; 
    border: none;
    color: white;
    width:100%;
    height:40px;
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
}

.tac {
	text-align: center;
}

#buddies{
	background-color:#607CBA;
	margin-bottom:0px;
	padding-top:50px;
}

#fileUpload {
	background-color: #63B8CC;
	box-shadow: none;
}

#buddies img {
	max-width: 50%;
}
#blueShape {
	max-width: 100%;
}